name: pkgdown

on:
  push:
    branches: [main, master]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    concurrency:
      group: pkgdown-${{ github.event_name != 'pull_request' || github.run_id }}
    permissions:
      contents: write

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown, any::jsonlite, any::devtools, any::roxygen2, local::.
          needs: website

      - name: Generate roxygen docs
        run: roxygen2::roxygenise()
        shell: Rscript {0}

      - name: Build pkgdown site
        run: |
          pkgdown::build_site_github_pages(
            new_process = FALSE,
            install = FALSE
          )
        shell: Rscript {0}

      - name: Generate Static API files into docs/data/
        run: Rscript tools/build_api.R docs/data

      - name: Deploy to GitHub Pages
        if: github.event_name != 'pull_request'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
          clean: false
